.experience {
    padding: var(--section-padding);

    &__list-item {
        padding: 60px 40px;
        flex-direction: column;
        row-gap: 30px;
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);

        &:not(:last-child) {
            margin-bottom: 60px;
        }

        @media screen and (max-width: 920px) {
            padding: 40px 20px;
        }

        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }

    &__list-time {
        display: inline-block;
        margin-bottom: 20px;
        padding: 10px 20px;
        box-shadow: var(--inset-shadow);
        border-radius: 26px;
        color: var(--color-accent);
    }

    &__list-title {
        margin-bottom: 4px;
        font-size: 24px;
        letter-spacing: 2px;
    }

    &__list-subtitle {
        margin-bottom: 26px;
        color: var(--color-accent);
    }

    &__list-description {
        margin-bottom: 26px;
    }

    &__stack {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        @media screen and (max-width: 920px) {
            justify-content: center;
        }
    }

    &__stack-item {
        width: var(--item-size);
        height: var(--item-size);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid transparent;
        box-shadow: var(--inset-shadow);
        transition: all 0.5s;

        img {
            width: 50%;
        }

        &:hover {
            border-color: var(--color-accent);
        }
    }
}