.footer {
    padding-top: 80px;
    padding-bottom: 100px;
    position: relative;

    &__wrapper {
        padding: 60px 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 60px;
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);

        @media screen and (max-width: 768px) {
            padding: 40px;
            flex-direction: column;
            justify-content: center;
            column-gap: 0;
            row-gap: 40px;
            text-align: center;
        }
    }

    &__text {
        font-size: 26px;
    }

    &__contact-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        @media screen and (max-width: 768px) {
            justify-content: center;
        }
    }

    &__contact-list-item {
        width: var(--item-size);
        height: var(--item-size);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid transparent;
        box-shadow: var(--inset-shadow);
        transition: all 0.5s;

        a {
            width: 70%;
            height: 70%;
            color: var(--color-white);
            transition: all 0.2s;

            &:hover {
                color: var(--color-accent);
            }
        }
    }

    &__totop-btn {
        width: 58px;
        height: 58px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        border-radius: 50%;
        border: 1px solid transparent;
        box-shadow: var(--inset-shadow);
        transition: all 0.5s;
        bottom: 18px;
        left: 50%;
        transform: translateX(-50%);

        svg {
            max-width: 50%;
            color: var(--color-white);
        }

        &:hover {
            border-color: var(--color-accent);

            svg {
                color: var(--color-accent);
            }
        }
    }
}