html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-dark);
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: var(--color-white);
}

a {
    color: var(--color-accent);
    text-decoration: none;

    &:visited {
        color: var(--color-accent);
    }
}

.container {
    margin: auto;
    max-width: 1536px;
    padding: 0 16px;
}

._section-title {
    margin-bottom: 68px;
    font-size: 2vw;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5rem;

    @media screen and (max-width: 768px) {
        font-size: 18px;
    }
}