.hero {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__video {
        position: absolute;
        inset: 0;
        overflow: hidden;

        video {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            opacity: 0.1;
            object-fit: cover;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 56px;
            opacity: 0.8;
            pointer-events: none;
            background: linear-gradient(transparent, #1f1d28);
            z-index: 10;
        }
    }

    &__wrapper {
        padding: 60px 0;
        position: relative;
        text-align: center;
        z-index: 10;

        @media screen and (max-width: 768px) {
            padding: 30px 0;
        }
    }

    &__suptitle {
        margin-bottom: 14px;
        font-size: 2vw;
        text-transform: uppercase;
        letter-spacing: 0.5rem;

        span {
            color: var(--color-accent);
        }

        @media screen and (max-width: 768px) {
            font-size: 3vw;
            letter-spacing: 0.3rem;
        }
    }

    &__title {
        margin-bottom: 16px;
        font-size: 6vw;
        text-transform: uppercase;
        letter-spacing: 0.5rem;

        @media screen and (max-width: 768px) {
            font-size: 8vw;
        }
    }

    &__subtitle {
        font-size: 1vw;
        text-transform: uppercase;
        letter-spacing: 0.5rem;

        @media screen and (max-width: 768px) {
            font-size: 2.5vw;
            letter-spacing: 0.2rem;
        }
    }

    &__trigger {
        position: absolute;
        left: 50%;
        transform: translateX(-50%) rotate(180deg);
        bottom: 26px;
        width: 36px;
        height: 36px;
        z-index: 20;

        a {
            color: var(--color-white);
        }

        svg {
            animation: scale 4s infinite linear;
        }
    }
}
