:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-dark: #1f1d28;
    --color-accent: #62cee1;

    --box-shadow: 2px 4px 10px var(--color-black);
    --inset-shadow: 1px 1px 16px var(--color-black) inset;
    --inset-shadow-weak: 1px 1px 8px var(--color-black) inset;
}