html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-dark);
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: var(--color-white);
}

._section {
    padding: 100px 0 40px;
}

._section-title {
    margin-bottom: 36px;
    font-size: 2vw;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5rem;
}

._scills-card {
    border-radius: 8px;
    padding: 18px 26px;
    box-shadow: var(--box-shadow);
    transition: 1s;
}

._scills-card:hover {
    box-shadow: var(--inset-shadow);
}

.container {
    margin: auto;
    max-width: 1280px;
    padding: 0 16px;
}

.hero {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero__wrapper {
    text-align: center;
}

.hero__suptitle {
    margin-bottom: 14px;
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.hero__suptitle span {
    color: var(--color-accent);
}

.hero__title {
    margin-bottom: 16px;
    font-size: 6vw;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.hero__subtitle {
    font-size: 1vw;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.hero__trigger {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 26px;
}

.scills__hard-list,
.scills__soft-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.work__list-item {
    border-radius: 16px;
    padding: 36px;
    box-shadow: var(--box-shadow);
    transition: 1s;
}

.work__list-item:hover {
    box-shadow: var(--inset-shadow);
}

.work__list-item:not(:last-child) {
    margin-bottom: 40px;
}

.work__list-time {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 26px;
    color: var(--color-accent);
    box-shadow: var(--inset-shadow2);
}

.work__list-title {
    margin-bottom: 4px;
    font-size: 24px;
    letter-spacing: 2px;
}

.work__list-subtitle {
    margin-bottom: 26px;
    color: var(--color-accent);
}

.work__list-description {
    margin-bottom: 26px;
}

.stack__list,
.footer__contact-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.stack__list-item,
.footer__contact-list-item {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--inset-shadow2);
}

.stack__list-item:hover {
    border: 1px solid var(--color-accent);
}

.stack__list-item img {
    width: 50%;
    height: 50%;
}

.footer {
    margin: 80px 0;
}

.footer__wrapper {
    padding: 60px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 60px;
    box-shadow: var(--inset-shadow2);
}

.footer__text {
    font-size: 26px;
}

.footer__contact-list-item a {
    width: 70%;
    height: 70%;
    color: var(--color-white);
    transition: all 0.2s;
}

.footer__contact-list-item a:hover {
    color: var(--color-accent);
}

@media screen and (max-width: 768px) {
    ._section-title {
        font-size: 4vw;
    }

    ._scills-card {
        width: 100%;
    }

    .hero__suptitle {
        font-size: 3vw;
        letter-spacing: 0.3rem;
    }

    .hero__title {
        font-size: 8vw;
    }

    .hero__subtitle {
        font-size: 2vw;
        letter-spacing: 0.2rem;
    }

    .footer__wrapper {
        padding: 40px;
        flex-direction: column;
        column-gap: 0;
        row-gap: 40px;
    }
}